.list-row {
  padding: 15px;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.list-row:hover {
  background-color: #c5e3ff;
}

.gutter-box {
  padding: 8px 0;
  text-align: center;
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  font-weight: 500;
}

.gutter-box:hover {
  cursor: pointer;
  background-color: #c5e3ff;
}
