.container-word-meanings {
  margin: 0;
  display: block;
  width: 100%;
  text-align: left;

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  p {
    font-size: 0.95rem;
    margin-top: 1.5rem;
  }
}

//   .container-word-meanings > p {
//     font-size: 0.95rem;
//     margin-top: 2.5rem;
//   }
