.gutter-box {
  padding: 8px 0;
  text-align: center;
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  font-weight: 500;

  &:hover {
    cursor: pointer;
    background-color: #c5e3ff;
  }
}
